<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Pollux</title>
</head>
<body>
    <nav id='navHome'>
        <a href="/">Pollux</a>
        
        <a href="/login"><button>Login</button></a>
    </nav>
    <section id="polluxHome">
        <div>
            <p id="main">Do more with Pollux!</p>
            <p id="second">Only couple clicks away!</p>
            <a href="/register"> <button>Sign up</button></a>
        </div>
    </section>
</body>
</html>